.section {
    &__banner {
        background-image: url("../img/image-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }
    @include respond-to($min-laptop) {
        height: 250px;
    }
}